################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mission365/.vs/Mission365/v16
/Mission365/bin/Debug/netcoreapp3.1
/Mission365/obj
